.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trending__discover {

}

.trending-sushi, .trending-drink {
    width: 100%;
    min-height: 640px;

    display: flex;
    flex-direction: row;
}
 
.trending__content {
    flex: 1;
    display: flex;
    flex-direction: center;
    justify-content: center;
    flex-direction: column;

    padding: 32px 64px;
}

.trending__list {
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;

    min-width: 210px;
}

.trending__icon {
    width: 24 px;
    height: 24px;

    background-color: var(--primary-color);
    border-radius: 100%;
}

.trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.trending__list p {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);

    color: var(--secondary-color);
}

.trending__image {
    flex: 1;

    position: relative;
    padding: 32px 64px;
    

}

.trending-sushi .trending__image {
    background-image: url(../../assets/japanese_sushi.png);
}